:root {

   /* Couleurs du sites */
 --color-bg-dark: #073B4C;
 --color-primary: #118AB2;
 --color-secondary: #06D6A0;
 --color-accent: #FFD166;
 --color-text: #073B4C;

 /* Taille du font */

 --font-size-xs: 12px;
 --font-size-s: 16px;
 --font-size-base: 20px;
 --font-size-title: 40px;
 --font-size-xl: 64px;
 
 /* Padding */
 --padding-01: 10px;
 --padding-02: 16px;
 --padding-0: 60px;

}
header{
    display: flex;
    background-color:var(--color-bg-dark);
}
